<main>
	<article class="information">
		<h2 class="subtitle">Informations</h2>
		<p id="notice"><%= notice %></p>

		<p>
  			<strong>Dragon:</strong>
  			<%= @element.dragon.name %>
		</p>

		<p>
  			<strong>Name:</strong>
  			<%= @element.name %>
		</p>
                
		<% if current_user %>         
	                <% if current_user.user_type == "Administrador" %> 
				<%= link_to image_tag('/assets/edit.png'), edit_element_path(@element) %> 
                       	<%end %>
       		<%end %>

		<%= link_to image_tag('/assets/back.png'), elements_path %>
	</article>
